includes:
    - baselines/loader.neon
#    - phpstan-baseline.neon

    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
#    - vendor/spaze/phpstan-disallowed-calls/extension.neon

#    - vendor-bin/larastan/vendor/larastan/larastan/extension.neon
#    - vendor/ekino/phpstan-banned-code/extension.neon
#    - vendor/ergebnis/phpstan-rules/rules.neon
#    - vendor/phpstan/phpstan-strict-rules/rules.neon
#    - vendor/roave/no-floaters/rules.neon
#    - vendor/shipmonk/dead-code-detector/rules.neon
#    - vendor/staabm/phpstan-todo-by/extension.neon

#    - vendor/symplify/phpstan-rules/config/code-complexity-rules.neon
#    - vendor/symplify/phpstan-rules/config/configurable-rules.neon
#    - vendor/symplify/phpstan-rules/config/naming-rules.neon
#    - vendor/symplify/phpstan-rules/config/static-rules.neon
#    - vendor/symplify/phpstan-rules/config/symplify-rules.neon

#    - vendor/symplify/phpstan-rules/config/doctrine-rules.neon
#    - vendor/symplify/phpstan-rules/config/phpunit-rules.neon
#    - vendor/symplify/phpstan-rules/config/rector-rules.neon
#    - vendor/symplify/phpstan-rules/config/symfony-rules.neon

parameters:
    paths:
        - config/
        - src/
    scanFiles:
        - vendor/composer/InstalledVersions.php
    excludePaths:
        - tests/Fixtures/
        - *.blade.php
#    level: max
    level: 5
    tmpDir: .build/phpstan/
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
#    errorFormat: symplify
    errorFormat: friendly
    friendly:
        lineBefore: 3
        lineAfter: 3
        editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    treatPhpDocTypesAsCertain: false
    cognitive_complexity:
        class: 42
        function: 8
        dependency_tree: 150
        dependency_tree_types:
            # only these explicit types are checked, nothing else
#            - Rector\Contract\Rector\RectorInterface
    type_coverage:
        declare: 100
        param_type: 0
        return_type: 0
        constant_type: 0
        property_type: 0
    type_perfect:
        narrow_param: false
        narrow_return: false
        null_over_false: false
        no_mixed: false
        no_mixed_property: false
        no_mixed_caller: false
    disallowedFunctionCalls:
        -
            function: 'env()'
            message: 'use config() instead'
        -
            function: 'env_explode()'
            message: 'use config() instead'
    ignoreErrors:
        - '#^Call to method label\(\) on an unknown class Spatie\\.*\\Ray\.$#'
        - '#^Function clock not found\.$#'
#        - identifier: argument.templateType
#        - identifier: argument.type
#        - identifier: binaryOp.invalid
#        - identifier: cast.string
#        - identifier: encapsedStringPart.nonString
#        - identifier: logicalAnd.resultUnused
#        - identifier: method.nonObject
#        - identifier: missingType.generics
#        - identifier: missingType.iterableValue
#        - identifier: return.type
#        - identifier: return.void
#        - identifier: symplify.noDynamicName
#        - identifier: typePerfect.noMixedMethodCaller
#        - identifier: method.nonObject
#        - identifier: missingType.generics

#        - identifier: argument.type
        - identifier: return.type
        - identifier: shipmonk.deadMethod
        -
            message: '#^Calling env\(\) is forbidden, use config\(\) instead\.$#'
            paths:
                - config/soar.php
                - src/Support/helpers.php
        -
            messages:
#                - '#^Access to an undefined property App\\Support\\Mixins\\.*Mixin\:\:\$.*\.$#'
#                - '#^Call to protected method .*\(\) of class Illuminate\\.*\.$#'
#                - '#^Call to protected static method this\(\) of class .*\\.*\.$#'
#                - '#^Class App\\Support\\Mixins\\.*Mixin does not have a constructor and must be instantiated without any parameters\.$#'
                - '#^Method Guanguans\\LaravelSoar\\Mixins\\QueryBuilderMixin\:\:.*\(\) invoked with \d parameters?, 0 required\.$#'
#                - '#^PHPDoc tag @var with type .* is not subtype of native type .*\.$#'
#                - '#^Undefined variable\: \$this$#'
                - '#^Parameter \#1 \(Closure\) of echo cannot be converted to string\.$#'
            path: src/Mixins/
