# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:map\(\) contains unresolvable type\.$#'
            count: 1
            path: ../src/Bootstrapper.php
