# total 30 errors

parameters:
    ignoreErrors:
        -
            message: '#^Calling env\(\) is forbidden, use config\(\) instead\.$#'
            count: 21
            path: ../config/soar.php

        -
            message: '#^Calling htmlspecialchars\(\) is forbidden, set the \$flags parameter to `ENT_QUOTES` to also convert single quotes to entities to prevent some HTML injection bugs\.$#'
            count: 8
            path: ../src/Support/QueryAnalyzer.php

        -
            message: '#^Calling env\(\) is forbidden, use config\(\) instead\.$#'
            count: 1
            path: ../src/Support/helpers.php
