# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Parameter \#1 \(callable\(\)\: mixed\) of echo cannot be converted to string\.$#'
            count: 1
            path: ../src/Macros/QueryBuilderMacro.php
