# total 7 errors

includes:
    - method.notFound.neon
    - offsetAccess.nonArray.neon
    - offsetAccess.notFound.neon
    - shipmonk.publicPropertyNotReadonly.neon
    - staticMethod.dynamicCall.neon
