# total 77 errors
includes:
    - argument.unresolvableType.neon
    - arguments.count.neon
    - class.notFound.neon
    - complexity.functionLike.neon
    - disallowed.function.neon
    - echo.nonString.neon
    - function.notFound.neon
    - method.notFound.neon
    - property.onlyWritten.neon
    - shipmonk.deadMethod.neon
    - typePerfect.noArrayAccessOnObject.neon
    - typePerfect.noParamTypeRemoval.neon
