# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Call to an undefined method DebugBar\\DataCollector\\DataCollectorInterface\:\:addMessage\(\)\.$#'
            count: 1
            path: ../src/Outputs/DebugBarOutput.php

        -
            message: '#^Call to an undefined method Illuminate\\Console\\Events\\CommandFinished\|Symfony\\Component\\HttpFoundation\\Response\:\:getContent\(\)\.$#'
            count: 1
            path: ../src/Outputs/Output.php
