# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Call to an undefined method DebugBar\\DataCollector\\DataCollectorInterface\:\:addMessage\(\)\.$#'
            count: 1
            path: ../src/Outputs/DebugBarOutput.php
