# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Call to an undefined method Illuminate\\Console\\Events\\CommandFinished\|Symfony\\Component\\HttpFoundation\\Response\:\:getContent\(\)\.$#'
            count: 1
            path: ../src/Outputs/Output.php
