# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Return type of call to method Illuminate\\Support\\Collection\<\(int\|string\),array\<string, array\|string\>\>\:\:values\(\) contains unresolvable type\.$#'
            count: 1
            path: ../src/Bootstrapper.php

        -
            message: '#^Return type of call to method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:map\(\) contains unresolvable type\.$#'
            count: 1
            path: ../src/Bootstrapper.php
